body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-form-container {
    background-color: #FFEAD4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 50vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.login-container {
    background-color: #2E3452;
    border-radius: 15px;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin: 25vh auto;
}

h2 {
    color: #ffffff;
    font-weight: bold;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #FF6D24;
    width: 100%;
    font-size: 16px;
}

p {
    color: #ffffff;
    margin-top: 10px;
}

a {
    color: #FF6D24;
    text-decoration: none;
}

.button-ingresar {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: auto;
    width: 60%;
    border-radius: 20px;
}

#boton-inicio-sesion {
    color: white;
    text-decoration: none;
}
.register-container {
    background-color: #2E3452;
    border-radius: 15px;
    padding: 10px 20px;
    width: 450px;
    height: 50em;
    text-align: center;
    margin: 50vh auto;
}
.botones-container{
    display: flex;
    justify-content: center;
}