* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6D24;
    color: #ffffff;
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

.container input {
    width: 250px;
}

.container span {
    margin-right: 10px;
}

.container button {
    margin-left: 10px;
}

.container-cuenta{
    color: rgba(255, 109, 36, 1); 
    background-color: rgba(255, 234, 212, 1);
}
input {
    width: 350px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}

button {
    background-color: rgba(255, 109, 36, 1);
    padding: 10px 15px;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

header img {
    height: 58px;
    width: 15%;
    margin-left: 10px;
    border-radius: 15px;
}
section {
    display: flex;
    column-gap: 50px;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}
.img-button{
    background-color: white;
    border: 5px solid rgba(255, 109, 36, 1);
    border-radius: 40%;
    max-width: 200px;
    max-height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 75px;
    margin-bottom: 75px;
}


.flex-column-container-search{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 234, 212, 1);
    width: 100%;
    align-items: center;
    margin-bottom: 75px;
}
.flex-column-container-search > *{
    margin-top: 10px;
}
.flex-container-go-to{
    display: flex;
    width: 70%;
}
.flex-container-go-to input{
    flex-grow: 1;
}
.flex-container-go-to button{
    flex-grow: 0;
}
.flex-container-go-to >*{
    margin: 10px;
}